{% extends 'me2ushop/base_template.html' %}

{% block headblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/seller_styles.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop_responsive.css">
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3  {
    text-align: center;
  }
</style>
{% endblock %}

<body>
{% block navbar %}
{% endblock %}
{% block search %}
{% endblock %}

{% block site_wrapper %}

<div class="super_container">
  <main class="mt-5">
    <section class="text-center green-text">
    <h1>Password Changed</h1>
    Your password has been changed successfully.
    <br /><br />
     <div class="pt-4 text-center font-small mt-4 wow fadeIn">
        <a class="btn btn-outline-orange" href="{% url 'me2ushop:home'%}"
           role="button">Continue Shopping<i class="fas fa-hand-holding-usd"></i>
        </a>
     </div>
    </section>
</main>

</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_scripts %}

<script src="{{ STATIC_URL }}css/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="{{ STATIC_URL }}css/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}css/plugins/parallax-js-master/parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/shop_custom.js"></script>

{% endblock %}
</body>



