{% extends 'me2ushop/base_template.html' %}
{% load crispy_forms_tags %}

{% block headblock %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<style type="text/css">
	@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
		}
	}

	.omb_login .omb_authTitle {
		text-align: center;
		line-height: 300%;
	}

	.omb_login .omb_socialButtons a {
		color: white; // In yourUse @body-bg
		opacity:0.9;
	}
	.omb_login .omb_socialButtons a:hover {
		color: white;
		opacity:1;
	}
	.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
	.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
	.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


	.omb_login .omb_loginOr {
		position: relative;
		font-size: 1.5em;
		color: #aaa;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.omb_login .omb_loginOr .omb_hrOr {
		background-color: #cdcdcd;
		height: 1px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.omb_login .omb_loginOr .omb_spanOr {
		display: block;
		position: absolute;
		left: 50%;
		top: -0.6em;
		margin-left: -1.5em;
		background-color: white;
		width: 3em;
		text-align: center;
	}

	.omb_login .omb_loginForm .input-group.i {
		width: 2em;
	}
	.omb_login .omb_loginForm  .help-block {
		color: red;
	}


	@media (min-width: 768px) {
		.omb_login .omb_forgotPwd {
			text-align: right;
			margin-top:10px;
		}
	}

</style>
{% endblock %}

<body>
{% block navbar %}
{% endblock %}
{% block search %}
{% endblock %}
{% block site_wrapper %}

<div class="super_container">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Reset password</h1>
                        <p class="lead">
                            Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                        {% csrf_token %}

                                    <div class="form-group">
                                        <label for="id_email" class="active">Email</label>
                                        <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" required id="id_email">
                                    </div>
                                    <div class="text-center mt-3">
                                            <input class="btn btn-lg btn-primary" type="submit" value="Reset My Password"/></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_scripts %}

{% endblock %}
</body>



