{% extends 'tongozahome/base.html' %}
{% load static %}

{% block headblock %}

{% endblock headblock %}
{% block site_wrapper %}
<main>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-2">
            <h2 class="col-6 tm-text-primary">
               New Profiles
            </h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> 1
                </form>
            </div>
        </div>
        <div class="row tm-gallery">
            {% for profile in profiles %}
                {% if profile.profileimage_set.all %}
                    {% for image in profile.profileimage_set.all %}
                        {% if image.in_display %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">

                                <figure class="effect-ming tm-video-item">
                                    <img src="{{ image.image.medium.url }}" alt="{{ profile }}" class="img-fluid">
                                    <figcaption class="d-flex align-items-center justify-content-center">
                                        <h2>Meet {{ profile.user }}</h2>
                                        <a href="{{ profile.get_absolute_url }}">View more</a>
                                    </figcaption>
                                </figure>

                                {% if profile.country %}
                                <div class="d-flex justify-content-between tm-text-gray">
                                    <span class="tm-text-gray-dark">{{profile.city}}</span>
                                    <span>{{ profile.country }}</span>
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div> <!-- row -->

        <div class="row mb-2">
            <h2 class="col-6 tm-text-primary">
                Recent Posts
            </h2>
<!--            <div class="col-6 d-flex justify-content-end align-items-center">-->
<!--                <form action="" class="tm-text-primary">-->
<!--                    Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> 1-->
<!--                </form>-->
<!--            </div>-->
        </div>
        <div class="row tm-mb-90 tm-gallery">
            {% for post in public_posts %}

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">

                    <figure class="effect-ming tm-video-item">
                        <img src="{{ post.image.medium.url }}" alt="{{ post.author }}" class="img-fluid">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>From {{ post.author }}</h2>
                            <a href="{% url 'tongozahome:postView' post.slug %}">View more</a>
                        </figcaption>
                    </figure>

                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-dark">{{ post.title }}</span>
                        <span>{{ post.created.date }}</span>
                    </div>
                </div>

            {% endfor %}
        </div> <!-- row -->

        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
                <div class="tm-paging d-flex">
                    <a href="javascript:void(0);" class="active tm-paging-link">1</a>
<!--                    <a href="javascript:void(0);" class="disabled tm-paging-link">2</a>-->
<!--                    <a href="javascript:void(0);" class="disabled tm-paging-link">3</a>-->
<!--                    <a href="javascript:void(0);" class="disabled tm-paging-link">4</a>-->
                </div>
                <a href="javascript:void(0);" class="disabled btn btn-primary tm-btn-next">Next Page</a>
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->
</main>

{% endblock site_wrapper %}

