<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/potential1.jpg' %}">
    <form class="hidden d-flex tm-search-form" onsubmit="executeQuery();" style="display: none">
        <input class="disabled form-control tm-search-input" type="search" name="q" placeholder="Search for Buddies" aria-label="Search" id="id_q">
        <button class="disabled btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>